{% load static %}
{% load seo %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     {% metatags %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <!-- Bootstrap -->
    <link href=" {% static "css/bootstrap.min.css" %} " rel="stylesheet">
    <link rel="stylesheet" href=" {% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href=" {% static "css/animate.css" %} ">
    <link href=" {% static "css/animate.min.css" %}" rel="stylesheet">
    <link href=" {% static "css/style.css" %} " rel="stylesheet" />
    <link href=" {% static "css/dev.css" %} " rel="stylesheet" />
     <link rel="stylesheet" type="text/css" href="{% static "css/languages.min.css" %}">


<video autoplay loop muted id="background">
<source src="{{infosite.video.url}}" type="video/mp4">
</video>

    {% block cssadicional %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
        {% include "common/_header.html" %}
        <div class="container">
            <div class="col-md-12">

                    <img src="{{ infosite.logo_empresa.url }}" alt="" class="img-responsive"/>


            </div>
    </div>
        {% block content %}

        {% endblock content %}


    {% include "common/_footer.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src=" {% static "js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src=" {% static "js/bootstrap.min.js" %}"></script>
    <script src=" {% static "js/wow.min.js" %}"></script>
    {% block jsfinal %}

    {% endblock %}
    <script type="text/javascript">
        var url = window.location.pathname,
        urlRegExp = new RegExp(url.replace(/\/$/,'') + "$");
        $('#navbar a').each(function(){
            if(urlRegExp.test(this.href.replace(/\/$/,''))){
                $(this).parents().addClass('active');
            }
        });

        // ADD ACTIVE TO LANGUAGE
        url_splitted= window.location.href.split('/')
        console.log(url_splitted);
        if (url_splitted[3] == 'es'){
            console.log('IF')
            $('#en').removeClass('active')
            $('#es').addClass('active')
        }else{
            console.log('else')
            $('#en').addClass('active')
            $('#es').removeClass('active')
        }



    </script>
  </body>
</html>