
  <footer class="footer_dev">
        <div class="container">
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4 class="title_footer">Contacto</h4>

                <div class="contact-info">
                    <ul>
                    {% if infosite.direccion %}
                        <li><i class="fa fa-home fa"></i> &nbsp;{{infosite.direccion}}</li>
                    {% endif %}

                    {% if infosite.telefono %}
                        <li><i class="fa fa-phone fa"></i> &nbsp; {{infosite.telefono}}</li>
                    {% endif %}

                    {% if infosite.email %}
                                 <li><i class="fa fa-envelope fa"></i> &nbsp;{{infosite.email}}</li>
                    {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">

            </div>


        </div>
    </footer>

    <div class="sub_footer_dev">
        <div class="container">
            <div class="social-icon">
                <div class="col-md-4">
                    <ul class="social-network">
                    {% if infosite.facebook %}
                                <li><a href="{{infosite.facebook}}" target="_blank" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}

                    {% if  infosite.twitter%}
                        <li><a href="{{infosite.twitter}}" target="_blank" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}

                    {% if infosite.gmail %}
                            <li><a href="{{infosite.gmail}}"  target="_blank" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                    {% endif %}
                    {% if infosite.linkedin %}
                         <li><a href="{{infosite.linkedin}}" target="_blank"  class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if  infosite.youtube%}
                            <li><a href="{{infosite.youtube}}"  target="_blank" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
                    {% endif %}

                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="copyright">
                    &copy;  2016 <a target="_blank"  title="Free Twitter Bootstrap WordPress Themes and HTML templates">HyD</a>.All Rights Reserved.
                </div>

            </div>
        </div>
    </div>
