<header id="header">
                <nav class="navbar navbar-default navbar-static-top header_dev">
                  <div class="container menu2">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li><a href="{% url 'web:home' %}">Principal</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle menu2-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nosotros <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li ><a href="{% url 'web:nuestra_historia' %}" >Historia</a></li>
                            <li><a href="{% url 'web:quienes_somos' %}">Quienes somos</a></li>
                            <li><a href="{% url 'web:mision_vision_valores' %}">Mision/Vision/Valores</a></li>
                          </ul>
                        </li>
                        <li><a href="{% url 'web:equipamiento' %}">Equipamiento</a></li>
                        <li><a href="{% url 'web:servicios' %}">Servicios</a></li>

                        {% if  infosite.activar_trabajo%}
                          <li><a href="{% url 'web:trabajos' %}">Trabajos</a></li>
                        {% endif %}

                        {% if infosite.activar_clientes %}
                        <li><a href="{% url 'web:clientes' %}">Clientes</a></li>
                        {% endif %}

                        <li><a href="{% url 'web:contacto' %}">Contacto</a></li>
                      </ul>

                      {% if infosite.activar_idiomas %}


                      <ul class="nav navbar-nav navbar-right">

                        <li id="es"><a href="/es/"><span class="lang-sm lang-lbl" lang="es"></a></li>
                        <li id="en"><a href="/en/"><span class="lang-sm lang-lbl" lang="en"></span></a></li>
                      </ul>
               {% endif %}
                    </div><!--/.nav-collapse -->
                  </div>
                </nav>
    </header><!--/header-->