{% if title %}
<title>{{ title }}</title>
{% endif %}

{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}

{% if og_title %}
<meta property="og:title" content="{{ og_title }}" />
{% endif %}

{% if og_description %}
<meta property="og:description" content="{{ og_description}}" />
{% endif %}

{% if robots %}
<meta name="robots" content="{{ robots }}">
{% endif %}

{% if url_canonica %}
<link rel="canonical" href="{{ url_canonica }}" />
{% endif %}
