{% extends "common/_email.html" %}
{% load static %}

{% block title %}Contacto{% endblock %}


{% block logo %}

    <img src="{% static 'images-email/logo.png' %}" alt="-" style="-ms-interpolation-mode:bicubic;">

{% endblock %}


{% block content %}

    <h4 class="secondary">
        <strong>Mensaje de Contacto Experto</strong>
        </h4>
        <p>Han enviado el siguiente formulario:</p>

      <table cellspacing="10" style="width:100%;" id='table_contacto'>
        <tbody>
          <tr>
            <td style='width: 20%;'>
              <strong>Nombres: </strong>
            </td>
            <td>{{ nombres }}</td>
          </tr>
          <tr>
            <td style='width: 20%;'>
              <strong>Teléfono: </strong>
            </td>
            <td>{{ telefono }}</td>
          </tr>

          <tr>

              <strong>Email: </strong>

            <td>{{ email }}</td>
          </tr>

          <tr>
            <td style='width: 20%;'>
              <strong>Organización: </strong>
            </td>
            <td>{{ organizacion }}</td>
          </tr>

          <tr>
            <td style='width: 20%;'>
              <strong>Cargo: </strong>
            </td>
            <td>{{ cargo }}</td>
          </tr>

           <tr>
            <td style='width: 20%;'>
              <strong>Análisis: </strong>
            </td>
            <td>{{ analisis }}</td>
          </tr>
           <tr>
            <td style='width: 20%;'>
              <strong>Experto: </strong>
            </td>
            <td>{{ experto }}</td>
          </tr>
          <tr>
            <td style='width: 20%;'>
              <strong>Mensaje: </strong>
            </td>
            <td>{{ mensaje }}</td>
          </tr>
        </tbody>
      </table>

{% endblock %}