{% extends "common/_email.html" %}
{% load static %}

{% block title %}Recuperar Contraseña{% endblock %}


{% block logo %}

    <img src="{% static 'images-email/logo.png' %}" alt="-" style="-ms-interpolation-mode:bicubic;">

{% endblock %}


{% block content %}

<h4>
        <strong>Recuperación de Contraseña</strong>
        </h4>
        <p>Puede actualizar su contraseña desde el siguiente vínculo:</p>

           <table cellspacing="10" style="width:100%;" id="table_contacto1">
                <tr>
                  <td style="width:20%">
                    URL:
                  </td>
                <td><a href="{{ enlace }}">click aquí</a>
                </td>

                </tr>
              </table>

{% endblock %}