{% extends "common/_base.html" %}
    {% load static %}
    {% load thumbnail %}
    {% block content %}


<div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">Conosca los trabajos de Myp SAC.</h2>
            <p  class="parrafo_dev">Operaciones Submarinas MyP SAC. Formaliza su organización e infraestructura al tipo de proyecto encomendado conforme a sus avances y logros.
            Sus procedimientos se van complementando y mejorando a medida que la experiencia nos indica la forma mas óptima de desarrollar los trabajos actuando dentro de las más estrictas normas de seguridad, priorizando la seguridad de nuestro personal logrando de esta manera la plena satisfacción de nuestros clientes.
            </p>
        </div>
        <div class="container">
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src=" {% static "img/servicio1.jpg" %}" alt="" class="img-responsive" style="    width: 345px; height: 266px;" />
                    <figcaption>
                        <p>Mantenimiento y reparación de estructuras submarinas.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{% static "img/puerto.jpg" %}" alt="" class="img-responsive" style="    width: 345px;  height: 266px;" />
                    <figcaption>
                        <!--
                        <h4>sweet marley</h4>
                        -->
                        <p>Mantenimiento y reparación de  Muelles e instalaciones Porturias.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{% static "img/tubos.jpg" %} " alt="" class="img-responsive" style="width: 345px;  height: 266px;"/>
                    <figcaption>
                        <!--
                        <h4>sweet marley</h4>
                        -->
                        <p>Operación en Lagos, Ríos y Otros.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    {% endblock content %}