{% extends "common/_base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{seccion_cliente.titulo_seccion_clientes}}</h2>
            <div   class="parrafo_dev">
                    {{seccion_cliente.texto|safe}}
            </div>

        </div>


        <div class="container">

        {% for cliente in clientes %}

            <div class="col-md-2">
                <figure class="effect-marley">
                    <img src="{{cliente.imagen_logo.path|thumbnail_by_name:'200x150'}}" alt="" class="img-responsive"  style="width: 200px;  height: 150px;" />
                    <figcaption>
                        <p>{{cliente.nombre}}</p>
                    </figcaption>
                </figure>
            </div>

        {% endfor %}

        </div>
    </div>

{% endblock content %}

{% block js_adicional %}

      <script type="text/javascript">

        $(document).ready(function() {
            console.log('HOLA MUNDO');

        });
        </script>
{% endblock js_adicional %}