{% extends "common/_base.html" %}
{% load static %}

{% block content %}

<br>
<br>
<br>

	<div class="map">
		<iframe
                  width="600"
                  height="450"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDQGOtynZri4OVPaZ7xXdBF1Y4gJVbpt_E&q={{infosite.coordenadas.latitude|stringformat:'.5f'}}, {{infosite.coordenadas.longitude|stringformat:'.5f'}}&center={{infosite.coordenadas.latitude|stringformat:'.5f'}}, {{infosite.coordenadas.longitude|stringformat:'.5f'}}
                    &zoom=18" allowfullscreen>
                </iframe>
	</div>

<section class="contact-page" style='background: none;'>
        <div class="container">
            <div class="text-center">
                <h2 class="title_dev">Escribe tu mensaje  </h2>

            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="#">
                {% csrf_token %}
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label class="label_contacto" >Nombres *</label>
                            <input type="text" name="nombres" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label class="label_contacto">Email *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label class="label_contacto">Teléfono</label>
                            <input type="number" class="form-control" name="telefono">
                        </div>
                        <div class="form-group">
                            <label class="label_contacto">Compañia</label>
                            <input type="text" class="form-control" name="compania">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="label_contacto">Asunto *</label>
                            <input type="text" name="asunto" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label class="label_contacto">Mensaje *</label>
                            <textarea name="mensaje" id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-info btn_dev btn-lg" required="required" id="enviar">Enviar</button>
                        </div>
                    </div>
                </form>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

<div class="modal fade" tabindex="-1" role="dialog" id='myModal'>
  <div class="modal-dialog" style="max-width: 1000px; width:auto;">
    <div class="modal-content modal-color">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="title_dev2">GRACIAS</h4>
      </div>
      <div class="modal-body">
            <p>Le responderemos lo más pronto posible.</p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock content %}

{% block jsfinal %}

      <script type="text/javascript">
      console.log('HOLA MUNDO')
        $(document).ready(function() {
            $.fn.serializeObject = function() {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name]) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };
            console.log('HOLA MUNDO');
            $('#enviar').on('click', function(e){
                e.preventDefault();
                form_contact = $('#main-contact-form').serializeObject();
                console.log(form_contact);
                $.ajax({
                            url: '{% url "web:contacto_ajax" %}',
                            type:'post',
                            data: form_contact,

                            success: function(data){
                                if (data['msg'] == 'GRACIAS'){
                                    console.log('GRACIAS')
                                    $('#myModal').modal('show');

                                }
                            }
                });
            });

        });
        </script>
{% endblock jsfinal %}


