
<div class="modal fade" tabindex="-1" role="dialog" id='myModal' >
  <div class="modal-dialog" style="max-width: 1000px; width:auto; ">
    <div class="modal-content modal-color" style='background-color: #1b9df5;'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="title_dev2">{{equipamiento.equipamiento}}</h4>
      </div>
      <div class="modal-body">

      {% for  detalle in detalles %}
        <p style="color: white;">{{detalle.detalle_equipamiento}}</p>
      {% endfor %}


      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->