{% extends "common/_base.html" %}
{% load static %}

{% block content %}


<div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">Relacion de Equipo de la empresa</h2>
            <!--
            <p  class="parrafo_dev">Operaciones Submarinas MyP SAC. Formaliza su organización e infraestructura al tipo de proyecto encomendado conforme a sus avances y logros.
            Sus procedimientos se van complementando y mejorando a medida que la experiencia nos indica la forma mas óptima de desarrollar los trabajos actuando dentro de las más estrictas normas de seguridad, priorizando la seguridad de nuestro personal logrando de esta manera la plena satisfacción de nuestros clientes.
            </p>
            -->
        </div>

        <div class="container" style='text-color:black;'>

            <div class="col-md-4">
                <ul class = "list-group">
                    {% for equipamiento in  equipamientos_izquierdo %}
                       <li  class = "list-group-item" style='background-color: #1b9df5;' data-pk="{{equipamiento.pk}}">
                            {{equipamiento.equipamiento}}
                            {% if equipamiento.contain_detalle %}
                                <span class = "badge modal_class" data-pk="{{equipamiento.pk}}" ><a href="">Seguir leyendo </a></span>
                            {% endif %}
                       </li>
                    {% endfor %}

                    </ul>
              </div>

            <div class="col-md-4">
                    <ul class = "list-group">
                  {% for equipamiento in  equipamientos_central %}
                       <li  class = "list-group-item" style='background-color: #1b9df5;'>
                            {{equipamiento.equipamiento}}
                             {% if equipamiento.contain_detalle %}
                                <span class = "badge modal_class" data-pk="{{equipamiento.pk}}" ><a href="">Seguir leyendo </a></span>
                            {% endif %}
                       </li>
                    {% endfor %}

                    </ul>
            </div>


            <div class="col-md-4">
                    <ul class = "list-group">

                      {% for equipamiento in  equipamientos_derecho %}
                       <li   class = "list-group-item" style='background-color: #1b9df5;'>
                            {{equipamiento.equipamiento}}
                            {% if equipamiento.contain_detalle %}
                                <span class = "badge modal_class"  data-pk="{{equipamiento.pk}}"><a href="">Seguir leyendo </a></span>
                            {% endif %}
                       </li>
                    {% endfor %}

                    </ul>
            </div>

        </div>

        <div id="insert-modal">

        </div>
    </div>

{% endblock content %}


{% block jsfinal %}


    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal_class').on('click', function(e){
              e.preventDefault();
              equipamiento_pk = $(this).data('pk');
              console.log('Equipamiento pk', equipamiento_pk);
                  $.ajax({
                      url: '{% url "web:ajax_equipamiento_modal" %}',
                      type: 'get',
                      data:{'equipamiento_pk': equipamiento_pk},

                      success: function(data){
                          $('#insert-modal').html(data);
                           $('#myModal').modal('show');
                      }
                  });

            });
        });
    </script>

{% endblock jsfinal %}