
{% extends "common/_base.html" %}
{% load static %}

{% block content %}


    <div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{historia.titulo}}</h2>
            <div class="parrafo_dev">
                    {{historia.texto|safe}}
            </div>
        </div>

    </div>
{% endblock content %}



{% block js_adicional %}
     <script type="text/javascript">

        $(document).ready(function() {
            console.log('HOLA MUNDO');

        });
    </script>

{% endblock js_adicional %}
