    {% extends "common/_base.html" %}
    {% load static %}
    {% load thumbnail %}

{% block content %}

    <div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{home.titulo_bienvenida}}</h2>
            <div  class="parrafo_dev">
                {{home.texto_bienvenida|safe}}
            </div>
        </div>
        <div class="container">

        {% for servicio  in  servicios%}
            <div class="col-md-3">
            <a href="{{servicio.get_absolute_url}}">
                <figure class="effect-marley">
                    <img src="{{servicio.imagen_principal.path|thumbnail_by_name:'345x260'}}"  alt="" class="img-responsive" style="    width: 345px; height: 250px;" />
                    <figcaption>
                        <p>{{servicio.nombre}}</p>
                    </figcaption>
                </figure>
                </a>
            </div>
        {% endfor %}
        </div>

    </div>

    {% endblock content %}