{% extends "common/_base.html" %}
{% load static %}
{% load thumbnail %}


{% block content %}

    <div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{politica.titulo_mision}}</h2>
            <div class="parrafo_dev">
                    {{politica.texto_mision|safe}}
            </div>
        </div>


    </div>

    <div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{politica.titulo_vision}}</h2>
            <div class="parrafo_dev">
                    {{politica.texto_vision|safe}}
            </div>
        </div>
    </div>


<div class="servicios">
    <div class="container">
                <div class="text-center">
                    <h3 class="title_dev" >Nuestros valores</h3>

                    {% for valor in valores %}
                    <div class=" {% if forloop.last %}   col-md-12  {% else %}  col-md-3   {% endif %}wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <figure class="iconos">
                        <img src="{{valor.imagen_valor.path|thumbnail_by_name:'46x43'}}" width="46" height="43" alt="">
                        </figure>
                        <h3 class="title_dev2">{{valor.titulo_valor}}</h3>

                        <div class="parrafo_dev2">
                                {{valor.texto_valor|safe}}
                        </div>

                    </div>
                {% endfor %}


                </div>
        </div>

    </div>

    <div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{politica.titulo_politicas_ambientales}}</h2>
            {% if  politica.texto_politicas_ambientales %}
                <div class="parrafo_dev">
                    {{politica.texto_politicas_ambientales|safe}}
                </div>
            {% endif %}

            {% if politica.pdf %}
            <a  href="{{politica.pdf.url}}"   target= "_blank" class="btn btn-info btn_dev">VER PDF</a>
            {% endif %}
        </div>



    </div>
    {% endblock content %}


{% block jsfinal %}

      <script type="text/javascript">

        $(document).ready(function() {
            console.log('HOLA MUNDO');

        });
        </script>
{% endblock jsfinal %}
