{% extends "common/_base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}


    <div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{quienes_somos.titulo_quienes_somos}}</h2>

            <div class="parrafo_dev">
                    {{quienes_somos.texto_quienes_somos|safe}}
            </div>

         </div>

    </div>

    <div class="gallery">
        <div class="text-center">
            <h1 class="title_dev text-left">{{quienes_somos.titulo_nuestros_socios}}</h1>

        </div>

        <div class="container">
             <div class="text-left">
                    <br>
                    <div class="col-md-6">
                    {% for otros in  otros_puestos_izquiedo%}
                        <li  class="parrafo_dev">{{otros.titulo_puesto}}</li>
                    {% endfor %}
                    </div>

                    <div class="col-md-6">
                    {% for otros in otros_puestos_derecho %}
                        <li  class="parrafo_dev">{{otros.titulo_puesto}}</li>
                    {% endfor %}
                    </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="parrafo_dev">
                {{quienes_somos.texto_nuestros_socios|safe}}
        </div>

    </div>

    <br>
    <br>

    <div class="gallery">

    {% for  socio in  socios%}

        <div class="container">
            <div class="col-md-5">
                <figure class="effect-marley">
                    <img src="{{socio.imagen.path|thumbnail_by_name:'445x320'}}"  alt="" class="img-responsive" style=" width: 445; height: 320px;" />
                    <figcaption>
                        <p>{{socio.nombre}}</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-7 section_socios">
                    <div class="text-left">
                        <h2 class="title_dev">Nombre :</h2>
                        <p  class="parrafo_dev">{{socio.nombre}}</p>
                    </div>
                    <div class="text-left">
                        <h2 class="title_dev">Puesto :</h2>
                        <p  class="parrafo_dev">{{socio.puesto}}</p>
                    </div>
                    <div class="text-left">
                        <h2 class="title_dev">Logros :</h2>
                        {% for logro in  socio.logros_set.all%}
                        <li  class="parrafo_dev">{{logro.logro}}</li>

                        {% endfor %}


                    </div>
                    {% if socio.cv %}
                        <div>
                                 <a  href="{{socio.cv.url}}"  target="_blank" class="btn btn-info btn_dev">Descargar CV</a>
                        </div>
                    {% endif %}


            </div>
        </div>

    {% endfor %}

    </div>

{% endblock content %}

{% block js_adicional %}

      <script type="text/javascript">

        $(document).ready(function() {
            console.log('HOLA MUNDO');

        });
        </script>
{% endblock js_adicional %}


