{% extends "common/_base.html" %}
{% load static %}
{% load thumbnail %}


{% block content %}


<div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{seccion_servicios.titulo_seccion_servicios}}</h2>

            <div class="parrafo_dev">
                    {{seccion_servicios.texto_servicios|safe}}
            </div>



        </div>
        <div class="container">


        {% for servicio in  servicios %}

            <div class="col-md-3">
            <a href="{{servicio.get_absolute_url}}">
                <figure class="effect-marley">
                    <img src="{{servicio.imagen_principal.path|thumbnail_by_name:'345x266'}}" alt="" class="img-responsive" style="    width: 345px; height: 266px;" />
                    <figcaption>
                        <p>{{servicio.nombre}}</p>
                    </figcaption>
                </figure>
                 </a>
            </div>
        {% endfor %}

        </div>
    </div>

{% endblock content %}

{% block jsfinal %}
<script type="text/javascript">

        $(document).ready(function() {
            console.log('HOLA MUNDO');

        });
</script>

{% endblock jsfinal %}

