{% extends "common/_base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}


<div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{servicio.nombre}}</h2>
            <div   class="parrafo_dev">
                    {{servicio.descripcion_servicio|safe}}
            </div>

        </div>


        <div class="container">

        {% for imagen in  imagenes %}

            <div class="col-md-3">
                <figure class="effect-marley">
                    <img src="{{imagen.imagen.path|thumbnail_by_name:'345x266'}}" alt="" class="img-responsive" style="    width: 345px; height: 266px;" />
                    <figcaption>
                        <p>{{imagen.titulo_imagen}}</p>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}



        </div>
    </div>

    {% endblock content %}


