{% extends "common/_base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div class="gallery">
        <div class="text-center">
            <h2 class="title_dev">{{seccion_trabajo.titulo_trabajo}}</h2>
            <div class="parrafo_dev">
                    {{seccion_trabajo.text_trabajo|safe}}
            </div>

        </div>
   </div>

   {% for   trabajo in  trabajos %}



        <div class="container">
            <div class="text-left">
                <h2 class="title_dev">{{trabajo.titulo_trabajo}}</h2>
                <div class="parrafo_dev">
                        {{trabajo.text_trabajo|safe}}
                </div>


        {% for  imagentrabajo in  trabajo.imagentrabajo_set.all %}

            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="{{imagentrabajo.imagen_trabajo.path|thumbnail_by_name:'445x320'}}"  alt="" class="img-responsive" style="width: 445; height: 320px;" />
                    <figcaption>
                        <p>{{imagentrabajo.titulo_trabajo}}</p>
                    </figcaption>
                </figure>
            </div>

     {% endfor %}
        </div>
    </div>
   {% endfor %}

    {% endblock content %}


{% block jsfinal %}
    <script type="text/javascript">

        $(document).ready(function() {
            console.log('HOLA MUNDO');

        });
        </script>

{% endblock jsfinal %}
