#background {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(polina.jpg) no-repeat;
        background-size: cover;
    }

    .parrafo_dev{
        font-size:16px;

        color: #F5F5F5;
    }

    .parrafo_dev p{
        font-size:16px;

        color: #F5F5F5;
    }

.parrafo_dev2{
        font-size:16px;

        color: #F5F5F5;
}

.parrafo_dev2 p{
        font-size:16px;
        color: #F5F5F5;
}
    .title_dev {
        font-size:24px;
        font-weight: bold;
        color: #F5F5F5;
    }
    .title_dev2{
        font-size:20px;

        color: #F5F5F5;
    }

    .title_footer{
        font-family: 'Open Sans', Arial, sans-serif;
        font-size:20px;
        color: #F5F5F5;
    }
    .header_dev {
        background-color: #272727;
            border-color: #272727;

    }

    .footer_dev {
        padding: none;
        background: #272727
    }


    .sub_footer_dev {
        background: #191B98;
            padding: 30px;
    }
    .btn_dev {

        background-color: #191B98;
        text-transform: uppercase;
        border-color: #fff;
        font-size: 14px;
    }
    footer {
        padding: 0px;
        margin-top: 50px;
    }
    .section_socios{
    margin-top: 20px;
    padding-left: 75px;
    }

    .servicios {
        padding: 80px 0 80px 0;

    }

    .servicios h3{
            margin-bottom: 20px;
            /*font-size: 16px;*/
            /*font-weight: 600;*/
            text-transform: uppercase;
            letter-spacing: 1px;
    }

    .iconos {
        width: 46px;
        display: inline-block;
        vertical-align: top;
    }

    .modal-color{
        background-color: #272727;
    }


    .menu2{
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-weight: 600;
    }

   .menu2-link {
    color: #ffffff;
}

